@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 4%;
    --foreground: 0 0% 100%;
    --card: 240 7% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 240 7% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 79 100% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 6% 12%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 6% 12%;
    --muted-foreground: 240 4% 46%;
    --accent: 79 100% 60%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 79 100% 60%;
    --radius: 0.125rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
